.item_container{
    width: 42vmax;
    height: 4.5vmax;
    padding: 0rem 1rem;
    border: none;
    border-radius: 1.2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#5d5d5d;
}

.item_container .item h1{
    font-weight: 300;
    font-size: 1.5vmax;
}

.item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#ff8977;
}

.delete{
    font-size: 1.5rem;
    color: #33105d;
    cursor: pointer;
}
