.sidebar_container{
    display: flex;
    flex-direction: column;
    gap: 5vmax;
    align-items: center;
    width: 25%;
    padding: 2vmax 0rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}

.info_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.5vmax;
    align-items: center;
}

.info_container img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 3px solid #b274ff;
    border-radius: 50%;
}

.info_container{
    display: flex;
    align-items: center;
    gap: 1.5vmax;
}

.info h2{
    font-size: 2vmax;
    font-weight: 300;
    color: #5d5d5d;
}

.info p{
    font-size: 1.8vmax;
    font-weight: 300;
    color: #b274ff;
}

.sidebar_container hr{
   border: 2px solid #b274ff;
   border-radius: 2px;
   width: 80%;
}

.links_container{
    display: flex;
    flex-direction: column;
    gap: 3vmax;
}

.link{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link_text{
    font-size: 1.8vmax;
}

.calender{
    font-size: 1.2rem;
    color: #cdcaca;
}
.calenderAlt{
    font-size: 1.2rem;
    color: #cdcaca;
}
.gear{
    font-size: 1.2rem;
    color: #cdcaca;
}

.link_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter:nth-of-type(1) span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#ff8977;
}
.filter:nth-of-type(2) span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#79d2ff;
}
.filter:nth-of-type(3) span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#ffdb79;
}

.filter h2{
    font-weight: 300;
    color: #5d5d5d;
    font-size: 1.6vmax;
}

@media (max-width:900px){
    .sidebar_container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: 0rem;
    }

    .info h2{
        font-size: 3vmax;
    }

    .info p{
        font-size: 2.5vmax;
    }
    
    .info_wrapper{
        flex-direction: row;
        align-items: flex-start;
    }

    .info_container{
        align-items: flex-start;
    }

    .sidebar_container hr{
        height: 10vmax;
        width: inherit;
    }

    .links_container{
        flex-direction: row;
        align-items: flex-start;
    }

    .link_text{
        font-size: 2.5vmax;
    }

    .filter_container{
        flex-direction: row;
        gap: 1.5vmax;
    }

    .filter{
        gap: 1.2vmax;
    }

    .filter h2{
        font-size: 2vmax;
    }

}

@media (max-width:640px){
    
}